nav ul{
    display: flex;
}
nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    margin-left: 15px;
    gap: 2rem;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
nav ul li a:hover {
    color: #d6c8c8;
}
